.container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-test {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0;
}
