.game-wrapper {
  position: relative;
}

.bottom-wrapper {
  position: relative;
}

app-pet {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

app-room {
  position: absolute;
  width: 100%;
  bottom: 100px;
  z-index: 11;
}

app-bottom {
position: absolute;
  width: 100%;
  z-index: 12;
}

app-tools {
  position: absolute;
  width: 100%;
  bottom: 25px;
  z-index: 13;
}

.needs {
  position: absolute;
  bottom: 190px;
  z-index: 13;
}