.game-wrapper {
  position: relative;
}

.bottom-wrapper {
  position: relative;
}

app-pet {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}

app-room {
  position: absolute;
  width: 100%;
  bottom: 100px;
  z-index: 10;
}

app-bottom {
  position: absolute;
  width: 100%;
  z-index: 12;
}

app-tools {
  position: absolute;
  width: 100%;
  bottom: 15px;
  z-index: 13;
}

.needs {
  position: absolute;
  bottom: 150px;
  z-index: 13;
  margin-left: 5px;
}

.dark-overlay {

  opacity: 0.5;
  z-index: 100;
}
