.container {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  -webkit-app-region: drag;
  font-size: 20px;
  color: white;
}

.options {
  -webkit-app-region: no-drag;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0;
}

.exit {
  -webkit-app-region: no-drag;

  width: 35px;
  height: 35px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0;
}
