.container {
  width: 100%;
  height: 70px;
  background-image: url(/topbar.png);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  -webkit-app-region: drag;
  font-size: 20px;
}

.exit {
  -webkit-app-region: no-drag;
  width: 30px;
  height: 30px;
}

.options {
  -webkit-app-region: no-drag;
}
