.container {
  width: 150x;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

input {
  font-family: 'TeenyTinyPixls-o2zo', sans-serif;
  text-align: right;
  border: none;
  background: transparent;
  color: black;
  font-size: 20px;
  outline: none;
}
